{
    "discord": {
        "channel": "ChannelID",
        "owner": "UserID",
        "token": "BotToken"
    },
    "bot": {
        "admins": {
            "name": "UserID",
            "name": "UserID"
        },
        "botName": "Name of Bot",
        "modsURL": "URL for mods",
        "serverIP": "IPv4",
        "serverPath": "path/to/server",
    }
}