{
    "discord": {
        "channel": "ChannelID",
        "owner": "UserID",
        "token": "BotToken"
    },
    "bot": {
        "botName": "Name of Bot",
        "serverIP": "IPv4",
        "serverPath": "path/to/server"
    }
}